body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, rgb(0, 0, 0) 30%, rgb(255, 0, 0) 100%);
    min-height: 100vh;
    color: white;
}

img {
    text-align: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    
}
h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    margin-top: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-top: -50px;
}
.img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
    animation: melayang 2s infinite ease-in-out;
}

@keyframes melayang {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}
a.video-links {
    margin-bottom: 30px;
    text-align: center;
}
a {
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    display: block;
    text-align: center;
    margin: 20px 0;
}
a.video {
    font-size: 40px;
    font-weight: bold;
}
a:hover {
    color: yellow;
}
a.video:hover {
    color: orange;
}
--- IGNORE ---
